<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>1</title>
    <meta name="description" content="1"/>
	<?php
		include("templates/head.php")
	?>
</head>
<body>
	<div id="page_wrapper">
	<?php include("templates/header.php") ?>
<?php include("templates/free_consultation2.php") ?>
        
    <div class="clear"></div>
    <div id="leftShadow" class="content_wrapper container clearfix">
        <div id="rightShadow">
            <div id="pageNext">
                <div id="BGConteiner">
                    <div id="conteiner"><a class="show-btn" href = "javascript:void(0)" >Бесплатная консультация</a>
                        
                        <div class="clear">
                        </div>
                        <div id="leftside" class="left">
                            <div id="MainRefe">
								<?php
									include("templates/menus.php")
								?>
								<a href='//www.msp-patent.ru/patentnyj-poisk.html' target='_blank'>
									<img src='uploaded_images/banner-patent-search.png' class='banner-online-zakaz-tm' alt='Патентные исследования в России и за рубежом' />
								</a>
							</div>
                            </div>
                        <div id="rightside" class="left">
							<div id="crumbs">
								<ul class="breadcrumbs">
									<li><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.htm" itemprop="url"><span itemprop="title">ГЛАВНАЯ</span></a></div></li>
									<li><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="our_services.html" itemprop="url"><span itemprop="title">УСЛУГИ</span></a></div></li>
									<li><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url"><span itemprop="title">Признание промышленного образца ЕС недействительным</span></a></div></li>
								</ul>
							</div><br></br>
                            <div id="content">
                                <div id="contentTitel">
                                    <h1>1</h1>
                                </div>
                                <div id="ContentText">
									<hr/>
									<p></p>
									
									<?php
										$orderTitle = 'Узнать стоимость / Заказать патентование промышленного образца в Европе';
									?>
							   </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
              
				
                <div class="clear"></div>
                
            </div>
        </div>
    </div>
	






		<?php include("templates/footer.php") ?>
	</div>
</body>
</html>