<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<?php include("templates/head.php") ?>
	<title>цук</title>
	<meta name="description" content="цук"/>
</head>
<body>
	<div id="page_wrapper">
        <div id="topMenu">
			<div id="MenuINPage" class="iJQMenu">
				<ul style="float:right;margin-right:10px">
					<li>
					<!--<span></span><a href="ua/mezhdunarodnoe-patentovanie.html"><span><b>УКР</b></span></a></li>-->
				</ul>
			</div>
		</div>
		<?php include("templates/header.php") ?>
		<div id="leftShadow" class="content_wrapper container clearfix">
			<div id="rightShadow">
				<div id="pageNext">
					<div id="BGConteiner">
						<div id="conteiner" class="clearfix">
							<div id="leftside" class="left">
								<div id="MainRefe" class="clearfix">
									<?php include("templates/menus.php") ?>
								</div>
							</div>
							<div id="rightside" class="left">
								<div id="crumbs">
									<ul class="breadcrumbs">
										<li><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="index.html" itemprop="url"><span itemprop="title">ГЛАВНАЯ</span></a></div></li>
										<li><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="our_services.html" itemprop="url"><span itemprop="title">НАШИ УСЛУГИ</span></a></div></li>
										<li><div itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url"><span itemprop="title">ЗАРУБЕЖНОЕ ПАТЕНТОВАНИЕ ИЗОБРЕТЕНИЙ</span></a></div></li>
									</ul>
								</div><br></br>
								<div id="content">
									<div id="contentTitel">
										<h1>цук</h1>
									</div>
									<div id="ContentText">
										<hr/>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include("templates/footer.php") ?>
	</div>
</body>
</html>